<div class="center-container">
  <mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <form [formGroup]="loginForm" (submit)="login()">
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" required min="2" maxlength="50">
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" required minlength="4" maxlength="50">
        </mat-form-field>
        <br/>
        <button mat-button type="submit">Login
          <mat-icon >login</mat-icon>

        </button>
        <button mat-button (click)="register()" >Register
          <mat-icon >app_registration</mat-icon>
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
