
<div id="form">

  <form [formGroup]="employeeForm" (submit)="updateEmployee()">
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>userName</mat-label>
      <input matInput formControlName="userName" required>
    </mat-form-field>
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>password</mat-label>
      <input matInput formControlName="password" required>
    </mat-form-field>
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>firstName</mat-label>
      <input matInput formControlName="firstName" required>
    </mat-form-field>
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>lastName</mat-label>
      <input matInput formControlName="lastName" required>
    </mat-form-field>
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>email</mat-label>
      <input matInput formControlName="email" required>
    </mat-form-field>
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>address</mat-label>
      <input matInput formControlName="address" required>
    </mat-form-field>
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>phone</mat-label>
      <input matInput formControlName="phone" required>
    </mat-form-field>
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>gender</mat-label>
      <input matInput formControlName="gender" required>
    </mat-form-field>
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>zipCode</mat-label>
      <input matInput formControlName="zipCode" required>
    </mat-form-field>
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>salary</mat-label>
      <input matInput formControlName="salary" required>
    </mat-form-field>

    <br/>
    <button mat-button type="submit">Update Employee</button>
  </form>
</div>
